{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cost Analysis DSS</h1>
    <p class="lead">Strategic Decisions Group - Cost Analysis Decision Support System.</p>
    <p><a href="https://www.sdg.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            For a complete user manual on how to get the most out of the Cost Analsis Decision Support System, refer to the following manual.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    
</div>

{% endblock %}
