<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>    

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">        
        <div id="logo" style="float:left;">
                <img src="{% static 'sdg_white_logo.png' %}" />
        </div>
        <div class="container">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Cost Platform</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="nav-side-menu">
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          <div class="menu-list">
  
            <ul id="menu-content" class="menu-content">
				<li data-toggle="collapse" data-target="#negotiation-submenu" class="collapsed">
					 <a href="#"><i class="fa fa-dashboard fa-lg"></i> Negotiation Tool</a><span class="arrow"></span>                 
				</li>
				<ul class="sub-menu collapse" id="negotiation-submenu">
					<li data-toggle="collapse" data-target="#dashboard-submenu" class="collapsed">
					  <a href="#"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a><span class="arrow"></span>                 
					</li>
					
					<!-- TL 2017-02-21 &emsp; is used extensivel. When used as a prefix, it is to work around the menu text alignment.
						When used as a suffix, it is to relax the mouse click sensitivity on top of the label. I tried hooking the page load onto li onclick event, but the pages that require crossfilter take too long to load. -->
					<ul class="sub-menu collapse" id="dashboard-submenu">                    
						<li><a href="#" onclick="return mainDashboardEntityLevel();">&emsp;&emsp;&ensp;Entity Level&emsp;</a></li>
						<li><a href="#" onclick="return mainDashboardVendorLevel();">&emsp;&emsp;&ensp;Vendor Level&emsp;</a></li>                         
					</ul>                

					<li data-toggle="collapse" data-target="#mot_analysis_submenu" class="collapsed">
					  <a href="#"><i class="fa fa-globe fa-lg"></i> MOT Analysis </a><span class="arrow"></span> 
					</li>  
					<ul class="sub-menu collapse" id="mot_analysis_submenu">
					  <li><a href="#" onclick="return valueGrowth();">&emsp;&emsp;&ensp;Value Growth&emsp;</a></li>
					  <li><a href="#" onclick="return moq();">&emsp;&emsp;&ensp;MOQ&emsp;</a></li>
					  <li><a href="#" onclick="return leadTime();">&emsp;&emsp;&ensp;Lead Time&emsp;</a></li>
					  <li><a href="#" onclick="return margin();">&emsp;&emsp;&ensp;Margin&emsp;</a></li>                  
					</ul>
					 <li data-toggle="collapse" data-target="#assumption_submenu" class="collapsed">
					  <a href="#"><i class="fa fa-user fa-lg"></i> Assumptions</a><span class="arrow"></span>                   
					 </li>
					 <ul class="sub-menu collapse" id="assumption_submenu">
					  <li><a href="#" onclick="return commodityData();">&emsp;&emsp;&ensp;Commodity Data&emsp;</a></li>
					  <li><a href="#" onclick="return laborRate();">&emsp;&emsp;&ensp;Labor Rate&emsp;</a></li>
					  <li><a href="#" onclick="return currency();">&emsp;&emsp;&ensp;Currency&emsp;</a></li>
					  <li><a href="#" onclick="return inflation();">&emsp;&emsp;&ensp;Inflation&emsp;</a></li>
					  <li><a href="#" onclick="return dutyScenario();">&emsp;&emsp;&ensp;Duty Scenario&emsp;</a></li>
					  <li><a href="#" onclick="return standardProcess();">&emsp;&emsp;&ensp;Standard Process&emsp;</a></li>                     
					 </ul>  										
				</ul> 

                <li data-toggle="collapse" data-target="#costing_submenu" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> Costing Tool </a><span class="arrow"></span> 
                </li>
                <ul class="sub-menu collapse" id="costing_submenu">
                  <li><a href="#" onclick="return methodology();">&emsp;Methodology&emsp;</a></li>
                  <li><a href="#" onclick="return costInput();">&emsp;Cost Input&emsp;</a></li>
                  <li><a href="#" onclick="return costPriceEvolution();">&emsp;Cost Price Evolution</a></li>
                </ul>          
            </ul>
         </div>
    </div>
    {% endif %}


    <div class="container body-content">
        <div id="main_body">
            {% block content %}{% endblock %}
        </div>
                
        <hr/>
        <footer>
			<!-- for ajax loading -->
			<div id="wait" style="display:none;width:69px;height:89px;border:0px solid black;position:absolute;top:50%;left:50%;padding:2px;">
			<img src="{% static 'app/logo/ajax-loader.gif' %}" width="64" height="64" /><br>Loading..</div>
            <p>&copy; {{ year }} by Strategic Decisions Group International LLC. All rights reserved.</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    
    <script>
	
        function mainDashboardEntityLevel(){
                $.ajax({
                    url: '{% url 'mainDashboardEntityLevel' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
               }

        function mainDashboardVendorLevel(){
                $.ajax({
                    url: '{% url 'mainDashboardVendorLevel' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
               }

        function valueGrowth(){
                $.ajax({
                    url: '{% url 'valueGrowth' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
               }
        
        function moq(){
                $.ajax({
                    url: '{% url 'moq' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
               }
        function leadTime(){
                $.ajax({
                    url: '{% url 'leadTime' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }

        function margin(){
            $.ajax({
                    url: '{% url 'margin' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function methodology(){
            $.ajax({
                    url: '{% url 'methodology' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function costInput(){
            $.ajax({
                    url: '{% url 'costInput' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function costPriceEvolution(){
            $.ajax({
                    url: '{% url 'costPriceEvolution' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function commodityData(){
            $.ajax({
                    url: '{% url 'commodityData' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function laborRate(){
            $.ajax({
                    url: '{% url 'laborRate' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function currency(){
            $.ajax({
                    url: '{% url 'currency' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function inflation(){
            $.ajax({
                    url: '{% url 'inflation' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function dutyScenario(){
            $.ajax({
                    url: '{% url 'dutyScenario' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function standardProcess(){
            $.ajax({
                    url: '{% url 'standardProcess' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }

		/* show progress icon when loading ajax */
		$(document).ready(function(){
			$(document).ajaxStart(function(){
				$("#wait").css("display", "block");
			});
			$(document).ajaxComplete(function(){
				$("#wait").css("display", "none");
			});
		});
	
		/* show active selection in the side menu bar */
		$('.sub-menu li').on('click', function(e){
			e.preventDefault();
			$('.sub-menu li').removeClass('active');
			$(this).addClass('active');
		});

    </script>
    {% block scripts %}{% endblock %}
</body>
</html>