<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>    

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">        
        <div id="logo" style="float:left;">
                <img src="{% static 'sdg_white_logo.png' %}" />
        </div>
        <div class="container">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Cost Platform</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="nav-side-menu">
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          <div class="menu-list">
  
            <ul id="menu-content" class="menu-content">
				<li data-toggle="collapse" data-target="#negotiation-submenu" class="collapsed">
					 <a href="#"><i class="fa fa-dashboard fa-lg"></i> Negotiation Tool</a><span class="arrow"></span>                 
				</li>
				<ul class="sub-menu collapse" id="negotiation-submenu">
					<li data-toggle="collapse" data-target="#dashboard-submenu" class="collapsed">
					  <a href="#"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a><span class="arrow"></span>                 
					</li>
					
					<!-- TL 2017-02-21 &emsp; is used extensivel. When used as a prefix, it is to work around the menu text alignment.
						When used as a suffix, it is to relax the mouse click sensitivity on top of the label. I tried hooking the page load onto li onclick event, but the pages that require crossfilter take too long to load. -->
					<ul class="sub-menu collapse" id="dashboard-submenu">                    
						<li><a href="#" onclick="return mainDashboardEntityLevel();">&emsp;&emsp;&ensp;Entity Level&emsp;&emsp;&emsp;&emsp;</a></li>
						<li><a href="#" onclick="return mainDashboardVendorLevel();">&emsp;&emsp;&ensp;Vendor Level&emsp;&emsp;&emsp;&ensp;</a></li>                         
					</ul>                

					<li data-toggle="collapse" data-target="#mot_analysis_submenu" class="collapsed">
					  <a href="#"><i class="fa fa-globe fa-lg"></i> MOT Analysis </a><span class="arrow"></span> 
					</li>  
					<ul class="sub-menu collapse" id="mot_analysis_submenu">
					  <li><a href="#" onclick="return goto_nav('valueGrowth');">&emsp;&emsp;&ensp;Value Growth&emsp;&emsp;&emsp;</a></li>
					  <li><a href="#" onclick="return goto_nav('moq');">&emsp;&emsp;&ensp;MOQ&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></li>
					  <li><a href="#" onclick="return goto_nav('leadTime');">&emsp;&emsp;&ensp;Lead Time&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;</a></li>
					  <li><a href="#" onclick="return goto_nav('margin');">&emsp;&emsp;&ensp;Margin&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;</a></li>                  
					</ul>
					 <li data-toggle="collapse" data-target="#assumption_submenu" class="collapsed">
					  <a href="#"><i class="fa fa-user fa-lg"></i> Assumptions</a><span class="arrow"></span>                   
					 </li>
					 <ul class="sub-menu collapse" id="assumption_submenu">
					  <li><a href="#" onclick="return goto_nav('commodityData');">&emsp;&emsp;&ensp;Commodity Data&emsp;</a></li>
					  <li><a href="#" onclick="return goto_nav('laborRate');">&emsp;&emsp;&ensp;Labor Rate&emsp;&emsp;&emsp;&emsp;</a></li>
					  <li><a href="#" onclick="return goto_nav('currency');">&emsp;&emsp;&ensp;Currency&emsp;&emsp;&emsp;&emsp;&emsp;</a></li>
					  <li><a href="#" onclick="return goto_nav('inflation');">&emsp;&emsp;&ensp;Inflation&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;</a></li>
					  <li><a href="#" onclick="return goto_nav('dutyScenario');">&emsp;&emsp;&ensp;Duty Scenario&emsp;&emsp;&ensp;</a></li>
					  <li><a href="#" onclick="return goto_nav('standardProcess');">&emsp;&emsp;&ensp;Standard Process&emsp;</a></li>                     
					 </ul>  										
				</ul> 

                <li data-toggle="collapse" data-target="#costing_submenu" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> Costing Tool </a><span class="arrow"></span> 
                </li>
                <ul class="sub-menu collapse" id="costing_submenu">
                  <li><a href="#" onclick="return goto_nav('methodology');">&emsp;Methodology&emsp;&emsp;&emsp;&emsp;&emsp;</a></li>
                  <li><a href="#" onclick="return goto_nav('costInput');">&emsp;Cost Input&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></li>
                  <li><a href="#" onclick="return goto_nav('costPriceEvolution');">&emsp;Cost Price Evolution&emsp;</a></li>
                </ul>          
            </ul>
         </div>
    </div>
    {% endif %}


    <div class="container body-content">
        <div id="main_body">
            <div id='spinner' class='spinner'></div> <!-- for ajax loading -->
            {% block content %}{% endblock %}
        </div>
                
        <hr/>
        <footer>
            <p>&copy; {{ year }} by Strategic Decisions Group International LLC. All rights reserved.</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/spin.js' %}"></script>    
    
    <script>
		var spinner = null;
		
		function spinner_action(spinFlag) {
			var opts = {
			  lines: 11, // The number of lines to draw
			  length: 15, // The length of each line
			  width: 10, // The line thickness
			  radius: 30, // The radius of the inner circle
			  corners: 1, // Corner roundness (0..1)
			  rotate: 0, // The rotation offset
			  direction: 1, // 1: clockwise, -1: counterclockwise
			  color: '#000', // #rgb or #rrggbb
			  speed: 0.6, // Rounds per second
			  trail: 60, // Afterglow percentage
			  shadow: false, // Whether to render a shadow
			  hwaccel: false, // Whether to use hardware acceleration
			  className: 'spinner', // The CSS class to assign to the spinner
			  zIndex: 2e9, // The z-index (defaults to 2000000000)
			  top: 'auto', // Top position relative to parent in px
			  left: 'auto' // Left position relative to parent in px
			};
			
			var spinner_div = 0;
			spinner_div = $('#spinner').get(0);
			
			if (spinFlag) {
				if(spinner == null) {
				  spinner = new Spinner(opts);
				}
				spinner.spin(spinner_div);
			}
			else {
				if(spinner != null) {
				  spinner.stop(spinner_div);
				}
			}
			
		}


        function mainDashboardEntityLevel(){
				spinner_action(true);
                $.ajax({
                    url: '{% url 'mainDashboardEntityLevel' %}',
                    success: function (data) {
                        $('#main_body').html(data);
						spinner_action(false);
                    }
                });
               }

        function mainDashboardVendorLevel(){
				spinner_action(true);
                $.ajax({
                    url: '{% url 'mainDashboardVendorLevel' %}',
                    success: function (data) {
                        $('#main_body').html(data);
 						spinner_action(false);
                   }
                });
               }
			   
		function goto_nav(aLoc){
			spinner_action(true);
			var urlLoc = '{% url 'standardProcess' %}'.replace('standardProcess', aLoc);
            $.ajax({
                    url: urlLoc,
                    success: function (data) {
                        $('#main_body').html(data);
						spinner_action(false);
                    }
                });
        }
		
	
		/* show active selection in the side menu bar */
		$('.sub-menu li').on('click', function(e){
			e.preventDefault();
			$('.sub-menu li').removeClass('active');
			$(this).addClass('active');
//			return goto_nav(this.id);
		});
	</script>
	
	
    {% block scripts %}{% endblock %}
</body>
</html>
