<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>    

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">        
        <div id="logo" style="float:left;">
                <img src="{% static 'sdg_white_logo.png' %}" />
        </div>
        <div class="container">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Cost Platform</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="nav-side-menu">
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          <div class="menu-list">
  
            <ul id="menu-content" class="menu-content">

                <li data-toggle="collapse" data-target="#dashboard-submenu" class="collapsed">
                  <a href="#"><i class="fa fa-dashboard fa-lg"></i> Main Dashboard</a><span class="arrow"></span>                 
                </li>
                <ul class="sub-menu collapse" id="dashboard-submenu">                    
                    <li><a href="#" onclick="return mainDashboardEntityLevel();">Entity Level</a></li>
                    <li><a href="#" onclick="return mainDashboardVendorLevel();">Vendor Level</a></li>                         
                </ul>                

                <li data-toggle="collapse" data-target="#mot_analysis_submenu" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> MOT Analysis </a><span class="arrow"></span> 
                </li>  
                <ul class="sub-menu collapse" id="mot_analysis_submenu">
                  <li><a href="#" onclick="return valueGrowth();">Value Growth</a></li>
                  <li><a href="#" onclick="return moq();">MOQ</a></li>
                  <li><a href="#" onclick="return leadTime();">Lead Time</a></li>
                  <li><a href="#" onclick="return margin();">Margin</a></li>                  
                </ul>


                <li data-toggle="collapse" data-target="#costing_submenu" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> Costing Analysis </a><span class="arrow"></span> 
                </li>
                <ul class="sub-menu collapse" id="costing_submenu">
                  <li><a href="#" onclick="return methodology();">Methodology</a></li>
                  <li><a href="#" onclick="return costInput();">Cost Input</a></li>
                  <li><a href="#" onclick="return costPriceEvolution();">Cost Price Evolution</a></li>
                </ul>


                 <li data-toggle="collapse" data-target="#assumption_submenu" class="collapsed">
                  <a href="#"><i class="fa fa-user fa-lg"></i> Assumptions</a><span class="arrow"></span>                   
                 </li>
                 <ul class="sub-menu collapse" id="assumption_submenu">
                  <li><a href="#" onclick="return commodityData();">Commodity Data</a></li>
                  <li><a href="#" onclick="return laborRate();">Labor Rate</a></li>
                  <li><a href="#" onclick="return currency();">Currency</a></li>
                  <li><a href="#" onclick="return inflation();">Inflation</a></li>
                  <li><a href="#" onclick="return dutyScenario();">Duty Scenario</a></li>
                  <li><a href="#" onclick="return standardProcess();">Standard Process</a></li>                     
                 </ul>
                 
            </ul>
         </div>
    </div>
    {% endif %}


    <div class="container body-content">
        <div id="main_body">
            {% block content %}{% endblock %}
        </div>
                
        <hr/>
        <footer>
            <p>&copy; {{ year }} by Strategic Decisions Group International LLC. All rights reserved.</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    
    <script>
        function mainDashboardEntityLevel(){
                $.ajax({
                    url: '{% url 'mainDashboardEntityLevel' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
               }

        function mainDashboardVendorLevel(){
                $.ajax({
                    url: '{% url 'mainDashboardVendorLevel' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
               }

        function valueGrowth(){
                $.ajax({
                    url: '{% url 'valueGrowth' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
               }
        
        function moq(){
                $.ajax({
                    url: '{% url 'moq' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
               }
        function leadTime(){
                $.ajax({
                    url: '{% url 'leadTime' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }

        function margin(){
            $.ajax({
                    url: '{% url 'margin' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function methodology(){
            $.ajax({
                    url: '{% url 'methodology' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function costInput(){
            $.ajax({
                    url: '{% url 'costInput' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function costPriceEvolution(){
            $.ajax({
                    url: '{% url 'costPriceEvolution' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function commodityData(){
            $.ajax({
                    url: '{% url 'commodityData' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function laborRate(){
            $.ajax({
                    url: '{% url 'laborRate' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function currency(){
            $.ajax({
                    url: '{% url 'currency' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function inflation(){
            $.ajax({
                    url: '{% url 'inflation' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function dutyScenario(){
            $.ajax({
                    url: '{% url 'dutyScenario' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
        function standardProcess(){
            $.ajax({
                    url: '{% url 'standardProcess' %}',
                    success: function (data) {
                        $('#main_body').html(data);
                    }
                });
        }
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>