<div class="row">
	<div id="content" class="container col-md-10">
		<h1>{{ title }}</h1>
		
		<p>The level of costing complexity based on the role you want to play with your suppliers. We recommend a Differentiated Costing approach to cost become more sophisticated  selectively.</p>
		{% load staticfiles %}
		<img src="{% static 'app/logo/methodology.png' %}" alt="Methodology" style="height: 80%; width: 100%; object-fit: contain">
		
	</div>	<!-- .content -->
		
	<!-- Filter placeholder. Actual filter selected will be added via Javascript -->
	<div id="selectFilter" class="container col-md-3"></div>
	

</div>	<!-- .row -->
