{% load staticfiles %}


<div class="row">
	<div id="content" class="container col-md-9">
		<h1>{{ title }}</h1>
		<img src="{% static 'app/logo/standard_process.png' %}" alt="Standard Process">
	</div>


		
	<!-- Filter placeholder. Actual filter selected will be added via Javascript -->
	<div id="selectFilter" class="container col-md-3"></div>
	<div>
		<div class="thumbnail col-md-3">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 1</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-3">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 2</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-3">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 3</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-3">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 4</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-3" >
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process"><strong>&nbsp;Process 5</strong></p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-3">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 6</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-3">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 7</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-3">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 8</p>
		</div>	<!-- .thumbnail -->

	</div>
	
</div>



<div id="tbd" class="col-md-12">
	<br/>
	<br/>
	<h3>The following items are yet to be developed:</h3>
	<li>Process selector</li>
</div>	<!-- .tbd -->
