{% load staticfiles %}


<div class="row">
	<div id="content" class="container col-md-10">
		<h1>{{ title }}</h1>
		<img src="{% static 'app/logo/standard_process.png' %}" alt="Standard Process">
	</div>


		
	<!-- Filter placeholder. Actual filter selected will be added via Javascript -->
	<div id="selectFilter" class="container col-md-2"></div>
	<div>
		<div class="thumbnail col-md-2">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 1</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-2">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 2</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-2">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 3</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-2">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 4</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-2" style="background-color:#4682B4;">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process"><strong><font color="white">&nbsp;Process 5</font></strong></p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-2">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 6</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-2">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 7</p>
		</div>	<!-- .thumbnail -->
		<div class="thumbnail col-md-2">
			<p><img src="{% static 'app/logo/process.png' %}" alt="Standard Process">&nbsp;Process 8</p>
		</div>	<!-- .thumbnail -->

	</div>
	
</div>


