<div class="row" style="border-bottom: 1px solid #dddddd;">
	<div id="content" class="container col-md-10" style="border-right: 1px solid #dddddd;">
		<h1>{{ title }}</h1>

		<div>
			Fixed Cost %: &nbsp;&nbsp; 
			<span id="chart-fixed-cost" style="background-color:orange">
		</div>
		
		<div id="chart-bar-shipment">
			<h2 align="center">Shipment Value</h2>
		</div>
		
		<div id="data-table" style='clear:both;'>
				<table id="dc-data-table" class="table table-hover table-responsive table-striped">
					<thead>
					<tr> <!--class="header">-->
						<th>Year</th>
						<th>Shipment Value (US $)</th>
						<th>Shipment Growth (%)</th>
						<th>Growth Factor (%)</th>
						<th>Money On the Table (US $)</th>
					</tr>
					</thead>
				</table>
		</div>	<!-- .data-table -->

		<div id="tbd" class="col-md-12">
			<br/>
			<br/>
			<h3>The following items are yet to be developed:</h3>
			<li>Narrow bar width</li>
		</div>	<!-- .tbd -->


	</div>	<!-- .content -->
		
	<!-- Filter placeholder. Actual filter selected will be added via Javascript -->
	<div id="selectFilter" class="container col-md-2"></div>
    <br/>
	
</div>	<!-- .row -->


{% block scripts %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/dc.css' %}" media="screen" /> 
<script src="{% static 'app/scripts/crossfilter.min.js' %}"></script>
<script src="{% static 'app/scripts/d3-dc.min.js' %}"></script>
<script src="{% static 'app/scripts/dc.js' %}"></script>
<script src="{% static 'app/scripts/site/common-utility.js' %}"></script> <!-- site specific filters to appear on right panel -->

<script type="text/javascript">

	/*******************************************************
	Step 0: Set up Globals
	********************************************************/
	var debugFlag = 0;
	var formatString_axis = ".2s";
	var formatString_detail = ".4s";			
	var formatFunction_axis = function(d) {return d3.format(formatString_axis)(d).replace("G","B");};
	var formatFunction_detail = function(d) {return d3.format(formatString_detail)(d).replace("G","B");};
	var formatFunction_pct = d3.format("%");
	var contentWidth = d3.select("#content").style("width").replace("px", "");
	var chartWidth = contentWidth * 0.9;
	var chartHeight = 200;
	var legend_x = 60;
	var legend_y = 10;
	var legend_itemHeight = 13;
	var legend_gap = 5;
	if (debugFlag) {
		console.log("contentWidth"); console.log(contentWidth); // Debug
	}
	
	/*******************************************************
	Step 1: Prepare Data 
	********************************************************/

	var db_data = {{ data|safe }};
	var parseDate = d3.time.format("%Y-%m-%d").parse;
	if (debugFlag) {
		console.log("db_data"); console.log(db_data); // Debug
	}
	
	/*******************************************************
	Step 2: Create dc.js chart objects & link to div 
	********************************************************/

	var fixedCostChart = dc.numberDisplay("#chart-fixed-cost");
	var shipmentChart  = dc.compositeChart("#chart-bar-shipment");
	var datatable   = dc.dataTable("#dc-data-table");

	
	/*******************************************************
	Setp 3: Set up cross filter 
	********************************************************/

	var ndx = crossfilter(db_data);

	/*******************************************************
	Setp 4: Create dimensions
	A dimention is something to group or filter by.
	Crossfilter can filter by exact value or by range.
	********************************************************/

	var yearDim = ndx.dimension(function(d) {return d.fields.year;});
 
	if (debugFlag) {
		console.log("yearDim.bottom(1)[0].fields.year"); console.log(yearDim.bottom(1)[0].fields.year); // Debug
	}
	var minYear = yearDim.bottom(1)[0].fields.year;
	var maxYear = yearDim.top(1)[0].fields.year;
	
	// data count
	var fxdCost_dim = ndx.groupAll().reduce(
			  function (p, v) {
				  ++p.number;
				  p.ship +=  +v.fields.sum_shipment_value;
				  p.total += +v.fields.sum_shipment_value * v.fields.fixed_cost_percentage;
//				  p.avg = Math.round(p.total / p.ship);
				  return p;
				},
			  function (p, v) {
				  --p.number;
				  p.ship -=  +v.fields.sum_shipment_value;
				  p.total -= +v.fields.sum_shipment_value * v.fields.fixed_cost_percentage;
//				  p.avg = (p.ship == 0) ? 0 : Math.round(p.total / p.ship);
				  return p;
				},
			  function () {
				  return {number: 0, ship: 0, total: 0, avg: 0}
				}
		  );
	var averageFxdCost = function(d) {return d.ship ? d.total / d.ship : 0;}
		  
	// bar chart
	var shipment_group=yearDim.group().reduceSum(function(d) {return d.fields.sum_shipment_value;});
	var tsp_group=yearDim.group().reduceSum(function(d) {return d.fields.TSP_ValueGrowth;});

	
	// data table
	var tbl_grouped_dim = yearDim.group().reduce(
			// add
			function (p, v) {
				++p.number;
				p.total += +v.fields.sum_shipment_value;
				p.prior += +v.fields.sum_shipment_value_prior;
				p.tsp += +v.fields.TSP_ValueGrowth;
				p.growthFactor = (p.total == 0) ? 0 : p.tsp / p.total;
				if (Math.abs(p.prior) < 1) {
					p.shipGrowth = 0;
				}
				else if (Math.abs(p.total) < 1) {
					p.shipGrowth = -1;
				}
				else {
					p.shipGrowth = (p.total - p.prior) / p.prior;
				}
				p.avg = Math.round(p.total / p.number);
				return p;
			},
			// remove
			function (p, v) {
				--p.number;
				p.total -= +v.fields.sum_shipment_value;
				p.prior -= +v.fields.sum_shipment_value_prior;
				p.tsp -= +v.fields.TSP_ValueGrowth;
				p.growthFactor = (p.total == 0) ? 0 : p.tsp / p.total;
				if (Math.abs(p.prior) < 1) {
					p.shipGrowth = 0;
				}
				else if (Math.abs(p.total) < 1) {
					p.shipGrowth = -1;
				}
				else {
					p.shipGrowth = (p.total - p.prior) / p.prior;
				}
				p.avg = (p.number == 0) ? 0 : Math.round(p.total / p.number);
				return p;
			},
			// init
			function () {
				return {number: 0, total: 0, prior: 0, tsp: 0, growthFactor: 0, shipGrowth: 0, avg: 0}
			}
		  );
	if (debugFlag) {
		console.log("tbl_grouped_dim"); console.log(tbl_grouped_dim); // Debug
		console.log("tbl_grouped_dim elements"); console.log(tbl_grouped_dim.top(tbl_grouped_dim.size())); // Debug
	}
 

	/*******************************************************
	Step 5: Create Main Charts for Visualization
	********************************************************/
	
	fixedCostChart
		.group(fxdCost_dim)
		.valueAccessor(averageFxdCost)
		.formatNumber(formatFunction_pct);
		;
	
	var shipChart_val = dc.barChart(shipmentChart) 
				.group(shipment_group,"Shipment Value")
				.barPadding(0.5)
				.centerBar(true)
				;
	var shipChart_tsp = dc.lineChart(shipmentChart) 
				.colors('orange') 
				.group(tsp_group,"MOT")
				.useRightYAxis(true)
				;
	shipmentChart
		.width(chartWidth)
		.height(chartHeight)
		.dimension(yearDim)
		.group(shipment_group,"Shipment Value")
		.x(d3.scale.ordinal())
		.xUnits(dc.units.ordinal)
		._rangeBandPadding(1)		// ordinal axis on composite are misaligned. this is a temporary fix according to https://github.com/dc-js/dc.js/issues/662 
		.elasticY(true)
		.legend(dc.legend().x(legend_x).y(legend_y).itemHeight(legend_itemHeight).gap(legend_gap))
		.renderHorizontalGridLines(true)
        .compose([ 
			shipChart_val
				,
			shipChart_tsp
			
			]) 
		.brushOn(false)
		;
		
	shipmentChart
		.yAxisLabel("Shipment Value (US $)")
		.yAxis().tickFormat(formatFunction_axis)
		;
	shipmentChart
		.rightYAxisLabel("MOT (US $)")
		.rightYAxis().tickFormat(formatFunction_axis)
		;
	// programmer note: Do not chain .yAxis because everything else afterwards will not work.
	fixYAxisLabelOverlap(shipmentChart, 'left');
	fixYAxisLabelOverlap(shipmentChart, 'right');
	// y-axis label seems to be off. This is temporary solution till CSS is fixed.


	datatable
		.dimension(tbl_grouped_dim)
		.group(function (p) { return "" })
		// dynamic columns creation using an array of closures
		.columns([
			function(d) { return d.key; },
			function(d) { return formatFunction_detail(Math.abs(d.value.total) >= 1 ? d.value.total : 0); },
			function(d) { return formatFunction_pct(d.value.shipGrowth); },
			function(d) { return formatFunction_pct(d.value.growthFactor); },
			function(d) { return formatFunction_detail(Math.abs(d.value.tsp) >= 1 ? d.value.tsp : 0); }
		])
		.sortBy(function (d) { return -d.key })
		.order(d3.descending)
		.showGroups(false)
		;
		

	/*******************************************************
	Step 6: Set up Side Panel Filters
	********************************************************/
	var showFilters = {{ filters|safe }};
	setupFilter(ndx, showFilters);

		
	/*******************************************************
	Step 7: Render the Charts
	********************************************************/

	dc.renderAll();

</script>	

{% endblock %}
